<!DOCTYPE html>
<html>
<head>
  <title>GoFlickr - The Gowalla to Flickr photos exporter</title>
  <%= stylesheet_link_tag :all %>
	<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold,bolditalic" %>
	<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold" %>
	
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	<h1>GoFlickr</h1>
	<h2>The Gowalla to Flickr photos exporter</h2>
  
	<% for name in [:notice, :warning, :message]  %>
	  <% if flash[name] %>
	    <div class='flash' id="<%= name %>"><%= flash[name] %></div>
	  <% end %>
	<% end %>

<%= yield %>

</body>
</html>
